:root {
    --debug-background: rgb(230, 155, 165);

    --background-light: #353535;
    --background-primary: #303030;
    --background-secondary: #252525;
    --background-tertiary: #151515;

    --red: #f04747;
    --orange: #e19517;
    /* --yellow: #f7f48b; */
    --green: #3ba55c;
    /* --blue: #70a1d7; */
    /* --purple: #957dad; */
    --blurple: #7289da;

    --text-color: #efefef;
    --text-dark: #aaa;

    --red-t: #f0474720;
    --orange-t: #e1951720;
    --blurple-t: #7289da20;
}

* {
    box-sizing: border-box;
}
html,
body,
#app {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    background-color: var(--background-primary);
    color: var(--text-color);

    text-rendering: optimizeLegibility;
    font-family: "Open Sans", sans-serif;
    font-size: 16px;
    font-weight: 500;
}

#app {
    overflow: auto;
}

main {
    flex: 1;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
    max-width: 1300px;
    padding: 1em 2em;
    width: 100%;
}

.debug-container {
    background-color: var(--debug-background);
    width: 100%;
}
.debug-container > code {
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    font-family: "Open Sans", sans-serif;
}

h1 {
    font-size: 2.25rem;
}
h2 {
    font-size: 2rem;
}
h3 {
    font-size: 1.75rem;
}
h4 {
    font-size: 1rem;
}
p {
    margin: 16px 0 0;
}

a {
    color: var(--blurple);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

button {
    font: inherit;
    appearance: none;
    background: none;
    outline: none;
    color: inherit;
    border: 0;
    margin: 0;
    padding: 0;
    cursor: pointer;
}

hr {
    width: 100%;
    border: 0 solid var(--background-tertiary);
    border-bottom-width: 1px;
    margin-top: 16px;
    margin-bottom: 16px;
}

.serious * {
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}

.sneaky {
    display: none;
}

.no-js {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--red);
    color: var(--background-tertiary);
}

::-webkit-scrollbar {
    width: 16px;
    height: 16px;
}

::-webkit-scrollbar-corner {
    background-color: transparent;
}

::-webkit-scrollbar-thumb,
::-webkit-scrollbar-track {
    border: 4px solid transparent;
    background-clip: padding-box;
    border-radius: 8px;
}

::-webkit-scrollbar-thumb {
    background-color: var(--background-tertiary);
    min-height: 40px;
}

::-webkit-scrollbar-track {
    background-color: var(--background-secondary);
}

#app::-webkit-scrollbar {
    border-left: 1px solid var(--background-tertiary);
}

/* Form components {{{ */
.field {
    margin: 16px 0;
    padding-bottom: 16px;
    border-bottom: 1px solid var(--background-tertiary);
    position: relative;
}

.label {
    display: block;
    font-weight: 600;
    cursor: pointer;
    margin-bottom: 0 0 8px;
    width: calc(100% - 64px);
}

.required {
    color: var(--red);
    font-size: 0.8rem;
    margin-left: 4px;
}

.note,
.error {
    font-size: 0.9rem;
    color: var(--text-dark);
    margin: 8px 0 0;
}

.text-field,
.textarea-field,
.select-field {
    display: block;
    width: 100%;
    border: 1px solid var(--background-tertiary);
    background-color: var(--background-secondary);
    outline: none;
    font: inherit;
    color: inherit;
    padding: 4px 8px;
    border-radius: 4px;
}

.field :is(.text-field, .textarea-field, .select-field) {
    margin-top: 8px;
}

.textarea-field {
    padding: 8px;
    height: 88px;
    resize: none;
}

.select-field {
    appearance: none;
}

.select-arrow {
    display: block;
    position: absolute;
    width: 18px;
    height: 18px;
    top: 38px;
    right: 8px;
}

.checkbox-field {
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    height: 22px;
    width: 40px;
    appearance: none;
    cursor: pointer;
}

.checkbox-field::before {
    content: "";
    transition: background-color 0.2s;
    background-color: var(--background-tertiary);
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 11px;
}

.checkbox-field::after {
    content: "";
    transition: transform 0.2s;
    background-color: var(--text-color);
    width: 16px;
    height: 16px;
    display: block;
    border-radius: 11px;
    position: absolute;
    margin: 3px;
    top: 0;
}

.checkbox-field:checked::before {
    background-color: var(--green);
}

.checkbox-field:checked::after {
    transform: translateX(18px);
}

.checkbox-field:disabled {
    filter: brightness(0.7);
    cursor: not-allowed;
}
/* }}} */

/* Toast stuff {{{ */
/* Colours */
.info {
    background-image: linear-gradient(to right, #3b82f6, #2563eb);
}
.success {
    background-image: linear-gradient(to right, #10b981, #059669);
}
.warning {
    background-image: linear-gradient(to right, #fbbf24, #f59e0b);
}
.error {
    background-image: linear-gradient(to right, #ef4444, #ec4899);
}

/* The container holding the toasts */
.toast-container {
    overflow-x: hidden;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1rem;
    max-width: 24rem;
}

/* The toast itself */
.toast {
    display: flex;
    padding: 0.75rem;
    margin-bottom: 0.75rem;
    background-color: #111827;
    color: #ffffff;
    align-items: center;
    border-radius: 0.25rem;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

/* Animations */
.transform {
    --translate-x:0;
    --translate-y:0;
    --rotate:0;
    --skew-x:0;
    --skew-y:0;
    --scale-x:1;
    --scale-y:1;
    transform:
        translateX(var(--translate-x)) translateY(var(--translate-y))
        rotate(var(--rotate))
        skewX(var(--skew-x)) skewY(var(--skew-y))
        scaleX(var(--scale-x)) scaleY(var(--scale-y));
}
.transition {
    transition-property: background-color, border-color, color, fill, stroke, opacity, box-shadow, transform;
}
.ease-in {
    transition-duration: 200ms;
    transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
}
.ease-out {
    transition-duration: 500ms;
    transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
}

.enter-start {
    --translate-y: 0.5rem;
    opacity: 0;
}
.enter-end {
    opacity: 1;
}
.leave-start {
    --translate-x: 0;
    opacity: 1;
}
.leave-end {
    --translate-x: 100%;
    opacity: 0;
}

/* }}} */
